@model ProjectLibrary.Database.Tag
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Administrator/Views/Templates/_LayoutPage.cshtml";
}

<div id="jtable-main-container"></div>

<script type="text/javascript">
    $(document).ready(function () {
        $('#jtable-main-container').jtable({
            title: '@ViewBag.Title',
            paging: true, //Enable paging
            pageSize: 40, //Set page size (default: 10)
            sorting: true, //Enable sorting
            selecting: true, //Enable selecting
            multiselect: true, //Allow multiple selecting
            selectingCheckboxes: true, //Show checkboxes on first column
            columnResizable: false, //Actually, no need to set true since it's default
            columnSelectable: true, //Actually, no need to set true since it's default
            saveUserPreferences: false, //Actually, no need to set true since it's default
            toolbar: {
                //items: [
                //    {
                //        icon: '/Areas/Administrator/Content/img/Ordering.png',
                //        text: 'Sắp xếp',
                //        click: function () {
                //            $("#updateIndex").submit();
                //        }
                //    }]
             },
            actions: {
                listAction: '@Url.Action("List", "Tags")',
                deleteAction: '@Url.Action("Delete", "Tags")',
                updateAction: '@Url.Action("Edit", "Tags")',
                createAction: '@Url.Action("Create", "Tags")'
            },
            fields: {
                Id: {
                    key: true,
                    create: false,
                    edit: false,
                    list: false
                },
                TagName: {
                    title: '@Html.DisplayNameFor(c=>c.TagName)',
                    width: '15%',
                    inputClass: 'full-width',
                    sorting: false,
                },
                Status: {
                    title: '@Html.DisplayNameFor(c=>c.Status)',
                    sorting: false,
                    width: '15%',
                    type: 'checkbox',
                    values: { 'false': 'Passive', 'true': 'Active' },
                    defaultValue: 'true'
                },
            },
        });
        //Load data
        $('#jtable-main-container').jtable('load');
    });

</script>
